:host {
  display: block;
}

.star-rating-wrapper {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.star-rating-wrapper > span {
  display: inline-block;
  position: relative;
  width: 1em;
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0.4;
}

.star-rating-wrapper > span:hover,
.star-rating-wrapper > span:hover ~ span {
  opacity: 0.8;
}
.star-rating-wrapper > span.active,
.star-rating-wrapper > span.active ~ span {
   opacity: 1;

}